<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Plug-In/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/Content/Plug-In/X-admin/css/xadmin.css" rel="stylesheet" />
    <script src="~/Content/Plug-In/X-admin/js/xadmin.js"></script>
    <script src="~/Content/Plug-In/X-admin/lib/layui/layui.js"></script>
    <link href="~/Content/Plug-In/X-admin/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Plug-In/X-admin/lib/layui/lay/modules/layui-xtree.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
