<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link href="~/Content/Plug-In/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/Content/Plug-In/X-admin/css/xadmin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Plug-In/X-admin/lib/layui/layui.js"></script>
    <script src="~/Content/Plug-In/X-admin/js/xadmin.js"></script>

</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">用户登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" id="LoginForm">
            <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20">
        </form>
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <a href="/Login/RegisterView" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;cursor:pointer;float:left">注册账号</a>
            <a href="/Login/RegisterView" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;cursor:pointer;float:right">忘记密码？</a>
        </div>
    </div>

    <script>
        $(function  () {
            layui.use('form', function () {
                var form = layui.form;
                form.on('submit(login)', function (data) {
                    var loadIndex = layer.load(0, { shade: [0.2, 'black'] });
                    //访问数据,判断密码是否正确
                    $.ajax({
                        type: "post",
                        url: '/Manage/Login/LoginIn',
                        data: { "UserName": $("#LoginForm input[name=username]").val(), "PassWord": $("#LoginForm input[name=password]").val() },
                        success: function (result) {
                            layer.close(loadIndex);
                            if (result.Success) {
                                layer.msg(result.Msg, { icon: 1, shade: [0.2, 'black'] });
                                window.location.href = "../../Manage/Home/Index";
                            } else {
                                layer.msg(result.Msg, { icon: 5, shade: [0.2, 'black'] });
                            }
                        },
                        error: function (result) {
                            layer.close(loadIndex);
                            layer.msg(result.Msg, { icon: 5, shade: [0.2, 'black'] });
                        }
                    });
                    return false;
                });
            });
        })
    </script>    
</body>
</html>